@font-face {
  font-family: 'Open Sauce One';
  src: url('../public/fonts/OpenSauceOne-Regular.ttf');
}

:root{
  --primary-color: #06ba63
}
.btn-primary{
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

body {
  margin: 0;
  font-family: 'Open Sauce One', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
